@import url(../intro/__title/intro__title.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__subtitle/intro__subtitle.css);
@import url(../intro/__content/intro__content.css);
@import url(../intro/__content-right/intro__content-right.css);
@import url(../intro/__content-left/intro__content-left.css);
@import url(../intro/page__intro.css);

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 984px;
  margin: 80px auto 102px auto;
  
}
@media screen and (max-width: 1024px) {
  .intro {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 48px);
    margin-bottom: 97px;
  }
}

@media screen and (max-width: 375px) {
  .intro {
    width: calc(100% - 32px);
    margin-bottom: 64px;
  }
}
