.intro__title {
  margin: 0;
  font-family: Inter-Bold;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 59px;
  color: #ffffff;
}
@media screen and (max-width: 692px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 376px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
